@font-face {
    font-family: 'VKSansDisplay-Bold';
    src: url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */
            url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../public/fonts/VkSansDisplay-Bold/fonts/vksansdisplay-bold.svg#vksansdisplay-bold')
            format('svg'); /* Chrome < 4, Legacy iOS */
}
