.game-canvas-container {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    min-height: 836px;
    min-width: 600px;
    overflow: hidden;
}

.game-canvas {
    display: block;
    justify-self: center;
    width: 500px;
    height: 765px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.1);

    &__controls {
        position: absolute;
        left: 50%;
        bottom: 95px;
        display: flex;
        gap: 16px;
        align-items: center;
        z-index: 1300;
        width: 340px;
        justify-content: center;
        transform: translateX(-50%);
        transition:
            width 0.4s,
            justify-content 0.4s cubic-bezier(0.4, 0, 0.2, 1);

        &_paused {
            width: 180px;
        }
    }

    &__pause-btn {
        background: #2c2d2e;
        border: none;
        border-radius: 50%;
        width: 56px;
        height: 56px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 56px;
        min-height: 56px;
        color: #fff;
        font-size: 1.15rem;
        font-family: 'Montserrat', 'Arial', sans-serif;
        font-weight: 700;
        gap: 0;
        padding: 0;
        opacity: 1;
        transition:
            width 0.4s,
            background 0.4s,
            border-radius 0.4s,
            color 0.4s,
            padding 0.4s,
            gap 0.4s,
            box-shadow 0.4s,
            opacity 0.4s;

        &-text {
            font-weight: 600;
            display: none;
            margin-right: 0;
            color: #181818;
        }

        img {
            width: 17px;
            height: 17px;
            transition:
                width 0.4s,
                height 0.4s;
        }

        &_paused {
            background:
                linear-gradient(
                    0deg,
                    rgba(156, 255, 7, 0.65),
                    rgba(156, 255, 7, 0.65)
                ),
                linear-gradient(
                    302.47deg,
                    rgba(184, 252, 117, 0) 51.28%,
                    rgba(2, 252, 74, 0.3) 90.92%
                );
            backdrop-filter: blur(40px);
            box-shadow:
                0 2px 12px 0 #3f494f29,
                0 10px 20px 0 #3f494f0f,
                0px -1px 4px 0px #00982c33 inset,
                1px 2px 2px 0px #d1ffa4b2 inset;
            border-radius: 100px;
            width: 138px;
            height: 62px;
            color: #181818;
            gap: 10px;
            padding: 0 24px 0 16px;
            justify-content: center;
            align-items: center;
            opacity: 1;

            .game-canvas__pause-btn-text {
                display: block;
            }
            img {
                width: 17px;
                height: 17px;
            }
        }
    }

    &__superpower-btn {
        line-height: 20px;
        background:
            linear-gradient(
                0deg,
                rgba(156, 255, 7, 0.65),
                rgba(156, 255, 7, 0.65)
            ),
            linear-gradient(
                302.47deg,
                rgba(184, 252, 117, 0) 51.28%,
                rgba(2, 252, 74, 0.3) 90.92%
            );
        backdrop-filter: blur(40px);
        box-shadow:
            0 2px 12px 0 rgba(63, 73, 79, 0.1607843137),
            0 10px 20px 0 rgba(63, 73, 79, 0.0588235294),
            0px -1px 4px 0px rgba(0, 152, 44, 0.2) inset,
            1px 2px 2px 0px rgba(209, 255, 164, 0.6980392157) inset;
        border: none;
        border-radius: 100px;
        height: 62px;
        width: 214px;
        padding: 0 24px 0 16px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.15rem;
        font-weight: 600;
        color: #181818;
        min-width: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition:
            opacity 0.4s,
            visibility 0.4s;
        text-align: left;

        &_hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

        img {
            width: 42px;
            height: 42px;
            display: block;
        }
    }
}
