/* Основной стиль навбара */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Поверх всего */
}

/* Логотип */
.logo {
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

/* Навигация */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #2483e4;
}

/* Кнопка входа */
.auth-button {
    color: white;
    background: #0077ff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.auth-button:hover {
    background: #2483e4;
}

/* Бургер-меню (скрыто на десктопе) */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px;
}

.logo-text {
    width: 100%;
    align-self: center;
    margin-left: 4px;
    margin-bottom: 4px;
}


/*@media screen and (max-width: 768px) {*/
/*    .burger {*/
/*        display: flex;*/
/*    }*/

/*    .nav-links {*/
/*        position: absolute;*/
/*        top: 60px;*/
/*        right: 0;*/
/*        background: rgba(0, 0, 0, 0.9);*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*        text-align: center;*/
/*        padding: 20px 0;*/
/*        display: none;*/

/*    }*/
/*    .nav-links.open {*/
/*        display: flex;*/

/*    }*/
/*    .nav-links li {*/
/*        margin: 10px 0;*/
/*    }*/

/*}*/
