@font-face {
    font-family: 'VKSansDisplay-Regular';
    src: url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.eot'); /* IE 9 Compatibility Mode */
    src:
        url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.eot?#iefix')
            format('embedded-opentype'),
        /* IE < 9 */
            url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.woff2')
            format('woff2'),
        /* Super Modern Browsers */
            url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.woff')
            format('woff'),
        /* Firefox >= 3.6, any other modern browser */
            url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.ttf')
            format('truetype'),
        /* Safari, Android, iOS */
            url('../../public/fonts/VkSansDisplay-Regular/fonts/vksansdisplay-regular.svg#vksansdisplay-regular')
            format('svg'); /* Chrome < 4, Legacy iOS */
}
